body {
    box-sizing: border-box;
    margin: 0;
    background: #ff9966;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5e62, #ff9966);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor {
    background-color: white;
    height: calc(100vh - 20px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

h1,
h2 {
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
}

h2 {
    color: white;
}

.contenedor-flex {
    display: flex;
    border: 3px solid black;
    /* Direcciones */
    flex-direction: row;
    /* Wrap */
    flex-wrap: wrap-reverse;
    /* Flex flow - column o row y wrap, nowrap o wrap-reverse */
    flex-flow: row wrap;


    /* Alinear elementos */ 
    /*
        flex-start
        flex-end
        center
        space-around
        space-between
    */
    justify-content: space-between;

    /* Align items para elementos verticalmente*/
    height: 400px;
    align-items: flex-start; /* Los alinea en la parte superior */
    align-items: flex-end; /* Los alinea en la parte de abajo */
    align-items: baseline; /**/
    align-items: center;

}

.elemento-flex {
    padding: 10px;
    /* Flex:  toma 3 parametros: 1) flex-grow: 2) flex-shrink: 3) flex-basis: */
    /* flex: 1 0 auto; */
}

.elemento-flex:nth-child(1) {
    background-color: #E53935;
    align-self: flex-start; /* Es para poner en la partr que quiera el elemento */
}

.elemento-flex:nth-child(2) {
    background-color: #8E24AA;
}

.elemento-flex:nth-child(3) {
    background-color: #3F51B5;

}